/* --------------- tc-features-style41 --------------- */
.tc-features-style41{
    padding-bottom: 120px;

    .content{
        position: relative;

        &::after{
            position: absolute;
            content: "";
            left: 150px;
            top: 195px;
            width: calc(100% - 300px);
            height: 1px;
            border-top: 2px dashed #fff1;
        }
    }

    .features-card{
        margin-top: 50px;
        text-align: center;
        position: relative;
        z-index: 10;

        .icon{
            margin: auto auto 40px;
        }

        .num{
            span{
                width: 45px;
                height: 45px;
                line-height: 43px;
                text-align: center;
                border-radius: 50%;
                background-color: #16082e;
                border: 1px solid #fff5;
                font-size: 14px;
                outline: 20px solid #090118;
            }
        }

        .info{
            padding-top: 30px;

            h6{
                font-size: 20px;
                text-transform: capitalize;
                margin-bottom: 15px;
            }
    
            .text{
                font-size: 14px;
                color: #a19cac;
            }
        }
    }

 }
 
 @media screen and (max-width: 991px){

 }