/* --------------- tc-integration-style41 --------------- */
.tc-integration-style41{
    padding: 120px 0;
    text-align: center;
    overflow: hidden;

    .content{
        position: relative;

        .float-icons{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 0.4s linear;
            img{
                position: absolute;
                &:nth-of-type(1){
                    top: 0;
                    right: 19%;
                }
                &:nth-of-type(2){
                    bottom: 30px;
                    right: 2%;
                }
                &:nth-of-type(3){
                    top: 60px;
                    left: 15%;
                }
            }
        }
    }

    .logo-circle{
        position: relative;
        padding: 80px 0;

        .logo{
            height: 100px;
            width: 100px;
            border-radius: 50%;
            background-image: var(--bg-grad2);
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            transition: all 0.4s linear;
        }

        .line_circle{
            position: absolute;
            left: calc(50% - 285px);
            top: calc(50% - 285px);
            // transform: translate(-50% , -50%);
            max-width: unset;
            max-height: unset;
            width: 570px;
            height: 570px;
            transition: all 0.4s linear;
            pointer-events: none;
        }
    }

    .text{
        font-size: 18px;
        color: #a19cac;
    }

 }
 
 @media screen and (max-width: 991px){

 }