/* --------------- tc-header-style41 --------------- */
.tc-header-style41{
    position: relative;
    background-color: #090118;
    // min-height: 100vh;
    color: #fff;
    padding-top: 200px;
    overflow: hidden;

    .back_light{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        pointer-events: none;
    }

    .info{
        position: relative;
        z-index: 10;
        text-align: center;

        h1{
            font-size: 80px;
            font-weight: bold;
            line-height: 1;
            margin-bottom: 40px;
            span{
                // color: var(--color-blue7);
                display: block;
                width: max-content;
                margin: auto;
                color: var(--color-blue8);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-image: var(--bg-grad2);  
            }
        }

        .text{
            font-size: 16px;
            margin-bottom: 40px;
        }

    }

    .img{
        position: relative;
        z-index: 10;
        margin-top: 120px;
        margin-bottom: -50px;
        transition: all 0.4s linear;
    }

 }
 
 @media screen and (max-width: 991px){
    .tc-header-style41 {
        .info h1{
            font-size: 30px;
            line-height: 1.6;
        }
        .img{
            margin: 50px 0 0;
        }
    }
 }